#IMX Quote Tool_20230206.xlsm
#IMX_Quote_Tool.py
Quote
5. AMO
CPCT
CPCT_revised
IMX-Revise/IEC Quote Tool_QA.xlsm
IMX/IMX Quote Tool_20240701.xlsm
IMX-Revise/CKIT/IEC MX-NB NEW Final May price 2024 MMJZ--05.28.2024 (002).xlsb
IMX-Revise/CKIT/Inventec NB Media Jan- intial price for MMCBZ 2024 12112023.xlsx
IMX-Revise/CKIT/Inventec-CKITQuote-Eff-20240701-RevInitia-20240611_NB.xlsx
IMX-Revise/CKIT/Selling Price/Initial Sell File Jul 2024 02AA Inventec MX as of Jun 17th 2024.xlsx
IMX-Revise/Quote_Consolidation_May-2024/Quote_Consolidation_May-2024_2024-07-22-16-02-51.xlsx
